@font-face {font-family: "GT America Extended";
    src: url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/879269be836bf8d970d4ef4fb0e54f42.svg#GT America Extended") format("svg"); /* iOS 4.1- */
}

body {
    background-color: #161618;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, legend, label {
    color: #ffffff;
    font-family:'Open Sans';
}

header {
    display: flex;
    justify-content: space-between;
}

/*nav a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
    font-family:'GT America Extended';
    font-size: 4.1875rem;
    transition: 0.5s;
    cursor: pointer;
}

nav a:hover {
    color: #fff;
}*/

h2, p, footer {
    color: #ffffff;
    font-family:'Open Sans Bold';
}

table, thead, tbody {
    color: #ffffff;
}

/* Index center zone */
.main-div-image {
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-div-image img {
    margin: auto;
    display: block;
}

@media only screen and (max-width: 800px) {
    .main-div-image {
        width: 400px;
        height: 300px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .main-div-image img {
        width: 400px;
        height: 200px;
    }
  }

/* Tabel */
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

/* Inregistreaza */

label, input, select {
    margin-bottom: 10px;
}

legend, label {
    font-size: 20px;
}

form fieldset input {
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

form fieldset label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-button {
    margin: 10px 10px 10px 10px;
    border: none;
    color: #fff;
    background-color: rgb(226,26,65);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2px;
    transition: 0.5s ease-in;
    width: 150px;
    height: 50px;
}

.sign-button:hover {
    background-color:rgb(226, 82, 111);
}

.form-title {
    text-align: center;
    font-family: 'GT America Extended';
}

.form-complete {
    margin-left: 30px;
    margin-right: 30px;
}

form fieldset {
    margin-top: 20px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.main-div-video {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    height: 200px;
}

.main-section-video {
    display: flex;
    width: 100%;
}

.main-section-video .main-div-video {
    width: 25%;
}

@media only screen and (max-width: 1600px) {
    .main-section-video {
        display: block;
    }

    .main-section-video .main-div-video {
        padding-top: 20px;            
        width: 100%;
    };
}

/* Despre */
.main-wrapper {
    align-items: center;
    justify-content: center;
}

.main-wrapper .main-paragraph {
    margin: auto;
    width: 600px;
}

.main-wrapper .main-par-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper p {
    text-align: center;
}

.main-wrapper h4 {
    text-align: center;
}

.main-wrapper .main-about-table {
    margin-right: 0px;
    margin-left: auto;
}

.main-wrapper h3 {
    margin-left: 50px;
}

.main-wrapper ul li {
    color: #Fff;
    margin-left: 30px;
}

.main-wrapper iframe {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.main-wrapper .iframe-par {
    margin-top: 70px;
}

@media only screen and (max-width: 1000px) {
    .main-wrapper .main-paragraph {
        width: 400px;
    }

    .main-wrapper .main-par-image {
        width: 300px;
        height: 180px;
    }

    .main-wrapper iframe {
        width: 600px;
        height: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .main-wrapper iframe {
        width: 400px;
        height: 200px;
        margin-left: 20px;
    }

    .main-wrapper h3 {
        margin-left: 20px;
    }

    .main-wrapper ul li {
        margin-left: 0px;
    }
}

#content h2 {
    text-align: center;
}

#content table {
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#content table thead tr {
    background-color: rgb(226,26,65);
    color: #ffffff;
    text-align: left;
}

#content table th,
#content table td {
    padding: 12px 15px;
}

#content table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#content table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(226,26,65);
}

/* Verifica */

#login-section #login-wrapper {
    margin-left: 50px;
    margin-top: 50px;
}

.check-button {
    margin: 20px 10px 0px 0px;
    border: none;
    color: #fff;
    background-color: rgb(226,26,65);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2px;
    transition: 0.5s ease-in;
    width: 150px;
    height: 50px;
}

.check-button:hover {
    background-color:rgb(226, 82, 111);
}

#login-section #login-wrapper input {
    border-radius: 5px;
    margin: 20px 20px 10px 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-size: 25px;
}

#login-section #login-wrapper  input[type="text"]{ 
    padding: 5px 5px; 
    line-height: 20px; 
}

#login-section #login-wrapper  input[type="password"]{ 
    padding: 5px 5px; 
    line-height: 20px; 
}

#login-section #login-wrapper label {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

#login-section #login-wrapper p {
    font-size: 25px;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    #login-section #login-wrapper {
        margin-left: 25px;
    }
}

/* Invat */

#main-middle {
    top: 15%;
    right: 0;
    position: fixed;
    margin-right: 30px;
    z-index: 100;
}

#main-middle h3 {
    font-family:'GT America Extended';
    font-size: 30px;
    text-align: center;
}

#main-middle .toggle-class h4{
    line-height: 2;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    font-family:'GT America Extended';
    transition: background 0.1s;
    padding-bottom: 0.25rem;
    position: relative;
}

#main-middle .toggle-class h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: rgb(226,26,65);
    transition: width 0.3s ease-out;
}

#main-middle .toggle-class .toggle-class input {
    display: none;
}

#main-middle .toggle-class h4:hover::before {
    width: 100%;
}

#main-middle .toggle-class h4:hover {
    cursor: pointer;
}

#sel-1, #sel-2{
    margin-left: 60px;
}

#sel-3 .sel-info {
    margin-left: 60px;
}

section .form-title {
    margin-top: 50px;
}

 #main-middle input {
    display: none;
}

/* Afisare si ascundere div */

#sel-1, #sel-2, #sel-3 {
    transition: opacity 2s;
    opacity: 1;
}

#main-middle #toggle-menu1:checked ~ #sel-1 {
    opacity: 0;
}


@media only screen and (max-width: 1000px) {
    #sel-2 #canvas {
        width: 400px;
        height: 300px;
    }

    #sel-1, #sel-2{
        margin-left: 30px;
    }
    
    #sel-3 .sel-info {
        margin-left: 30px;
    }
}

@media only print and (max-width: 1000px) {
    #sel-2 #canvas {
        width: 400px;
        height: 300px;
    }

    #sel-1, #sel-2{
        margin-left: 30px;
    }
    
    #sel-3 .sel-info {
        margin-left: 30px;
    }
}

/* Cumparaturi */

#list-wrap #list-form {
    margin-left: 50px;
}

#list-wrap #options {
    margin-left: 50px;
}

#list-form .buy-button {
    margin: 10px 0px 10px 0px;
    border: none;
    color: #fff;
    background-color: rgb(226,26,65);
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.5s ease-in;
    width: 60px;
    height: 30px;
}

#list-form .buy-button:hover {
    background-color:rgb(226, 82, 111);
}

@media only screen and (max-width: 800px) {
    #list-wrap #list-form {
        margin-left: 20px;
    }
    
    #list-wrap #options {
        margin-left: 20px;
    }
}

@media only print and (max-width: 800px) {
    #list-wrap #list-form {
        margin-left: 20px;
    }
    
    #list-wrap #options {
        margin-left: 20px;
    }
}